/* src/components/Contact/Contact.css */
.contact-container {
  max-width: 800px; /* Réduction de la largeur */
  margin: 50px auto;
  padding: 20px;
  background-color: var(--timeline); /* couleur de fond personnalisée */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 24px;
  font-weight: 600;
  color: #ff7979; /* Couleur similaire à celle utilisée dans les icônes */
  text-align: left; /* Alignement du titre à gauche */
  margin-left: 20px; /* Décalage du titre vers la droite */
  margin-bottom: 20px;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #ff7979;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.form-button:hover {
  transform: scale(0.97);
}

.success-message {
  margin-top: 20px;
  font-size: 16px;
  color: #28a745; /* Vert pour le succès */
  text-align: center;
}


.error-message {
  color: #d9534f; /* Rouge pour l'erreur */
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
