nav{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(255,245,238);
	position: sticky;
	top: 0;
    z-index: 999;
}

nav .profile {
	display: flex;
	align-items: center;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: none; /* Supprime la bordure par défaut */
}

nav ul li:hover {
	border-bottom: 1px solid black; /* Ajoute la bordure uniquement au survol */
}

nav ul li a {
	text-decoration: none; /* Supprime le soulignement par défaut des liens */
	color: inherit; /* Assure que la couleur du texte est héritée de l'élément parent */
}