/* Section des projets */
.page-content .projects-section {
    margin-top: 6%;
}

.page-content .projects-section h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
}

.projects-section h1 {
    padding-top: 20px;
    margin-left: 25px;
}

.page-content .projects-section .projects {
    display: flex;
    flex-wrap: wrap;
}

.page-content .projects-section .project {
    margin-right: 20px;
    max-width: 195px;
}

.page-content .projects-section .project h4 {
    margin: 0;
}

.page-content .projects-section .project .description {
    font-size: 10px;
}

.page-content .projects-section .project .dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

/* Cartes des projets */
.card {
    display: inline-block;
    width: 90%;
    max-width: 15rem;
    margin: 1rem;
    padding: 1em 0.5em;
    color: black;
    background-color: rgb(255, 245, 238);
    border-radius: 5px;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.1s, box-shadow 0.1s;
    text-decoration: none;
    min-height: 300px;
    position: relative;
}

/* Annuler le style de lien par défaut */
.card a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: inherit; /* Conserver la couleur par défaut */
}

/* Hover sur la carte */
.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem #d2691e;
}

.card h4 {
    margin: 0 0 0.5em;
    min-height: 20px;
}

.card p {
    margin: 0;
    font-size: 14px;
    min-height: 30px;
}

.card img {
    width: 244px;
    height: 244px;
    border-radius: 2px;
}

/* Section des projets */
.projects {
    padding-right: 35px;
    padding-left: 40px;
}

@media (max-width: 768px) {
    .page-content .projects-section .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .page-content .projects-section .project {
        margin: 1rem;
        width: 80%;
        max-width: 300px;
    }

    .card {
        width: 100%;
        min-height: 250px;
    }

    .card img {
        width: 100%;
        height: 200px;
    }
}

/* Description détaillée */
.detailed-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Afficher la description détaillée au survol */
.card:hover .detailed-description {
    display: block;
    opacity: 1;
}
